
<div class="tech-btm">
    <p>Spam mail göndermeyeceğiz. </p>
    <form asp-action="SubscribeMail" asp-controller="NewsLetter"  method="post" >
        <input type="email" id="Mail" name="Mail" placeholder="E-Posta" required="">
        <input type="submit" id="btnadd" value="Abone Ol">
   </form>

</div>
