@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Grantor Blog |Hakkımızda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">


    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

</head>

<body>
    <!--Header-->

    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var x in Model)
                    {
                        <div class="blog-grid-top">

                            <div class="blog_info_left_grid">
                                <a href="single.html">
                                    <img src="@x.AboutImage1" class="img-fluid" alt="">
                                </a>
                            </div>
                            <h3>
                                Hakkımızda
                            </h3>
                            <p>
                                @x.AboutDetails1
                            </p>

                        </div>
                    }


                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
                        </div>
                        <h4>Haber Bültenimize Abone Olun</h4>
                        <partial name="~/Views/NewsLetter/SubscribeMail.cshtml" />
                        <partial name="SocialMedia" />
                        @await Component.InvokeAsync("WriterBlogs")
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>



</body>

</html>